
.blue{
    color: white;
	background-color: #2980B9;
}

.green{
    color: white;
	background-color: #16A085;
}

.red{
    color: white;
	background-color: #C0392B;
}

.yellow{
    color: white;
	background-color: #F39C12;
}

.black{
    color: white;
	background-color: #2C3E50;
}